{% extends "auctions/layout.html" %}

{% block body %}
<h2>Listings</h2>
{% for listing in listings %}
<div>
    <div>
        <a href="{% url 'view_listing' listing.id %}">
            {{ listing.title }}
        </a>
    </div>
    <div>
        {{ listing.description }}
    </div>
    <div>
        {% if listing.image %}
        <img src="{{ listing.image.url }}" width="300" height="300">
        {% else %}
        <img src="/media/uploads/no_image_available.jpg" width="300" height="300">
        {% endif %}
    </div>
    <div>
        {{ listing.is_active }}
    </div>
    <div>
        {{ listing.category }}
    </div>
    <div>
        {{ listing.seller }}
    </div>
    <div>
        {{ listing.bid_listing.last.price }}
    </div>
</div>
{% empty %}
<div>
    No listings available
</div>
{% endfor %}
{% endblock %}