{% extends "auctions/layout.html" %}

{% block body %}
<h2>
    {{ title }}
</h2>
<div class="row">
    {% for listing in listings %}
    <div class="col-md-4">
        <div class="card card-product">
            <div class="img-wrap">
                {% if listing.image %}
                <img src="{{ listing.image.url }}">
                {% else %}
                <img src="/media/uploads/no_image_available.jpg">
                {% endif %}
            </div>
            <div class="info-wrap">
                <div class="title">
                    <a href="{% url 'view_listing' listing.id %}">
                        {{ listing.title }}
                    </a>
                </div>
                <div class="desc">
                    {{ listing.description }}
                </div>
            </div>
            <div class="bottom-wrap">
                <div>
                    Seller: {{ listing.seller }}
                </div>
                <div>
                    Category: {{ listing.category }}
                </div>
                <div>
                    Highest bid: ${{ listing.bid_listing.last.price }}
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-md-4">
        No listings available
    </div>
    {% endfor %}
</div>
{% endblock %}